.header {
    background-color: #0f161d;
    padding: 10px;

  }
  
  .header ul {
    list-style-type: none;
    display: flex;
    /* justify-content: space-around; */
    margin: 0;
    padding: 0;
  }
  
  .header li {
    margin: 0 1rem;
  }
  
  .header a {
    text-decoration: none;
    color: #ee7c7c;
  }
  #welcomemsg{
    color: #8da0f7;
  }
  .header a:hover {
    text-decoration: underline;
  }
  #logoutbtn{
    background-color: rgb(255, 63, 63);
    border-style: none;
    padding: 0px 15px 0px 15px;
    font-weight: 600;
  }